*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2d3e50;
}

.calculator {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 320px;
    height: 440px;
}

.screen {
    background-color: #e9e9ea;
    width: 100%;
    height: 160px;
    padding: 5px 10px;
}

.input {
    background-color: #e9e9ea;
    width: 100%;
    height: 300px;
}

.calc-name {
    font-size: 13px;
    /* background-color: red; */
}

.operation .value {
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: rgba(black, black, black, 0.1);
}

.result .value {
    text-align: right;
    font-size: 40px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 60px;
}

.input {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.input .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.row button {
    font-size: 20px;
    width: calc(320px/4 - 2px);
    height: calc(300px/5 - 2px);
    outline: none;
    border: none;
    font-family: inherit;
}

.row button:hover,
#percent:hover,
#plusMinus:hover {
    background-color: #bcbcbc;
}

.row .number,
#plusMinus {
    font-weight: 500;
    background-color: #f8f9fa;
    color: #000;
}

.row .calculate {
    background-color: rgba(66, 133, 244, 0.8);
    font-size: 26px;
}

.row .calculate:hover {
    background-color: rgba(66, 133, 244, 1);
}

.row .operator,
.row .key,
#percent {
    background-color: #f2f2f2;
    color: #282828;
    font-weight: 300;
}

.row .operator {
    font-size: 26px;
}